<body>
<header id="headerApp">
  <h1>To do list</h1>
  <nav @click="home">Главная</nav>
  <%if(typeof user!=="object"){%> 
    <nav @click="authorisation">Авторизация</nav>
    <nav @click="registration">Регистрация</nav>
  <%}else{%> 
    <nav @click="exit">Выйти</nav>
  <%}%>

  <div class="user">
    <%if(typeof user!=="object"){%> 
      <%=user%> 
    <%}else{%> 
      <%=user.login%>
    <%}%>
  </div>
  
</header>
<script>
  Vue.createApp({
    methods:{
      authorisation(){
        location.href = 'http://localhost:8000/login'
      },
      home(){
        location.href = 'http://localhost:8000/'
      },
      async exit(){
        const res = await fetch('http://localhost:8000/delete-cookie')
        if(res.ok)
          location.reload()
      },
      registration(){
        location.href = 'http://localhost:8000/registration'
        
      }
    }
  }).mount('#headerApp')
</script>