<%-include("../partials/head",{title:title})%>
<%-include("../partials/header",{user:user})%>
    <div id="wrapp">
        <h2>Add new</h2>
        <div id="appNewTask">
            <div>
                <h3>Название</h3>
                <input type="text" v-model="newTask.title"> 
            </div>
            <div>
                <h3>Описание</h3>
                <input type="text" v-model="newTask.describe"> 
            </div>
            <div>
                <h3>Дата завершения</h3>
                <input type="date" v-model="newTask.dataCompletion"> 
            </div>
            <div>
                <input type="button" value="Add" @click="handleAddNewTask">
            </div>
        </div>
    </div>
   <script>
        Vue.createApp({
            data(){
                return{
                    newTask:{
                        title:"",
                        describe:"",
                        dataCompletion: "2015-05-09"
                    }
                }
            },
            methods:{
                async handleAddNewTask(){
                    const res = await fetch(
                        "http://localhost:8000/add-new",{
                           method:"POST",
                           headers:{
                            "Content-Type":"application/json"
                            
                           },
                           body:JSON.stringify(this.newTask) 
                        })
                    if(res.ok){
                        alert("Задача добавлена!")
                        location.href = "http://localhost:8000"
                        console.log(this.newTask)

                    }
                   
                        
                }
            }
        }).mount("#appNewTask")
   </script>
</body>
</html>