<%-include("../partials/head",{title:title})%>
<%-include("../partials/header",{user:user})%>
    <div id="wrapp">
        <h2>Редактировать заметку</h2>
        <div id="appNewTask">
            <div>
                <h3>Название</h3>
                <input type="text" v-model="editTask.title"> 
            </div>
            <div>
                <h3>Описание</h3>
                <input type="text" v-model="editTask.describe"> 
            </div>
            <div>
                <h3>Дата завершения</h3>
                <input type="date" v-model="editTask.dataCompletion"> 
            </div>
            <div>
                <input type="button" value="Изменить" @click="handleEditTask">
            </div>
        </div>
    </div>
   <script>
    
        Vue.createApp({
            data(){
                return{
                    editTask:{
                        id:"",
                        title:"",
                        describe:"",
                        dataCompletion: "2015-05-09"
                    }
                }
            },
            methods:{
                async handleEditTask(){
                   console.log(this.editTask)
                    const res = await fetch(
                        "http://localhost:8000/post-edit-tasks",{
                           method:"POST",
                           headers:{
                            "Content-Type":"application/json"                        
                           },
                           body:JSON.stringify(this.editTask) 
                    })
                    if(res.ok){
                        alert("Заметка изменена!")
                        location.href = "http://localhost:8000"
                    }
                        
                },
                getCookie(name) {
                    var nameEQ = name + "=";
                    var ca = document.cookie.split(';');
                    for(var i = 0; i < ca.length; i++) {
                        var c = ca[i];
                        while (c.charAt(0) === ' ') c = c.substring(1, c.length);
                        if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
                    }
                    return null;
                }
            },
            mounted(){
                this.editTask.id = this.getCookie("id")
                this.editTask.title = this.getCookie("title")
                this.editTask.describe = this.getCookie("describe")
                this.editTask.dataCompletion = this.getCookie("dataCompletionTask")
            }
        }).mount("#appNewTask")
   </script>
</body>
</html>