<%-include("../partials/head",{title:title})%>
<%-include("../partials/header",{user:user})%>

    <div id="appIndex">
      <%if(typeof user=="object"){%> 
        <div id="addNewTask">
          <h2>Добавить новую заметку</h2>
          <input type="button" value="Новая заметка" @click="handleNew">
        </div>
      <%}%>
      <task :tasks="task_list" :task-edit="handleEdit" :task-delete="handleDelete"></task>
    </div>

  <script>
    Vue.createApp({
      data(){
        return{
          task_list:[]
        }
      },
      methods:{
        async getServer(){
          const res = await fetch("http://localhost:8000/get-tasks")
          const buffer = await res.json()
          buffer.forEach(item=>{
            item.data_add_task = item.data_add_task.match(/^\d{4}-\d{2}-\d{2}/)
            item.data_completion_task = item.data_completion_task.match(/^\d{4}-\d{2}-\d{2}/)
            this.task_list.push(item)
          })
        },
        async handleEdit(task){
         
          location.href = `http://localhost:8000/get-edit-tasks`
          this.setCookie("id",task.id_task,5)
          this.setCookie("title",task.title_task,5)
          this.setCookie("dataCompletionTask",task.data_completion_task,5)
          this.setCookie("describe",task.describe_task,5)

        },
        async handleNew(){
          location.href = "http://localhost:8000/add-new"
        },
        setCookie(name, value, days) {
          var expires = "";
          if (days) {
              var date = new Date();
              date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
              expires = "; expires=" + date.toUTCString();
          }
          document.cookie = name + "=" + value + expires + "; path=/";
        },
        async handleDelete(item){
          const res = await fetch(
            "http://localhost:8000/post-delete-task",
            {
              headers:{
                "Content-Type":"application/json"
              },
              body:JSON.stringify(item),
              method:"POST"
            }
          )
          if(res.ok){
            alert("Заметка удалена!")
            location.reload()
          }
        }
        
      },
      mounted(){
        this.getServer()
      }
    }).component("task",{
      props:["tasks", "taskEdit","taskDelete"],
      template:`
      <div v-for="item in tasks">
        <div style='border: 1px solid black;'>
          <h6>Дата добавления {{item.data_add_task[0]}}</h6>
          <h6>Дата завершения {{item.data_completion_task[0]}}</h6>
          <h2>{{item.title_task}}</h2>
          <h4>{{item.describe_task}}</h4>
          <div><input type='button' @click='taskEdit(item)' value='Изменить'/></div>
          <div><input type='button' @click='taskDelete(item)' value='Удалить' style='background-color:red;'/></div>
        </div>
      </div>`
    }).mount("#appIndex")
  </script>
</body>
</html>