<%-include("../partials/head",{title:title})%>
<%-include("../partials/header",{user:user})%>
  <div class="container">
    <div class="form__authorisation">
        
        <div class="input__container">
            <div class="label">Почта</div>
            <input name="email" type="text" v-model="user.login">
            <div class="label">Пароль</div>
            <input name="password" type="password" v-model="user.password">
            <div class="label" v-if="isClickAut">Код подтверждения</div>
            <input name="password" v-if="isClickAut" type="text"  v-model="user.checkCode">
        </div>
        <div @click="checkEmail" v-if="!isClickAut"  class="btn">Отправить код подтверждения</div>
        <div v-if="isClickAut" @click="checkCode" class="btn">Подтвердить</div>
        <div v-if="isClickAut" class="label">Код будет не действителен через: {{timer}}</div>
    </div>

  </div>
  <script>
    Vue.createApp({
        data(){
            return{
                user:{
                    login:"",
                    password:"",
                    
                    checkCode:""
                },
                isClickAut:false,
                timer:100
            }
        },
        methods:{
            
            async checkEmail(){
                const res = await fetch(
                    "http://localhost:8000/post-email",
                    {
                        headers:{
                            "Content-Type":"application/json"
                        },
                        method:"POST",
                        body:JSON.stringify(this.user)
                    }
                )
                if(res.ok){
                    this.isClickAut = true
                    this.startTimer()
                }
            },
            async checkCode(){
                const res = await fetch(
                    "http://localhost:8000/post-check-code",
                    {
                        headers:{
                            "Content-Type":"application/json"
                        },
                        method:"POST",
                        body:JSON.stringify(this.user)
                    }
                )
                if(res.ok){
                    alert("Вы зарегистрировались!")
                    location.href = "http://localhost:8000/login"
                }
            },
            startTimer(){
                this.interval = setInterval(()=>{
                    if(this.timer===0)
                        location.reload()
                    else
                        this.timer--
                },1000)
            }
        },
        
        beforeUnmount(){
            clearInterval(this.interval)
        }
    }).mount('.container')
  </script>
  </body>
</html>
